<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="brokerIp" value="localhost" />
    <add key="brokerPort" value="1883" />
    <add key="brokerUsername" value="" />
    <add key="brokerPassword" value="" />

    <add key="ecobeeAppKey" value="" />
    <add key="ecobeeName" value="default" />
    <add key="ecobeeRefreshInterval" value="180" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="${basedir}/logs" />
    <targets>
      <target name="file" xsi:type="File" fileName="${logDirectory}/${shortdate}.txt" />
      <target name="console" xsi:type="Console" />
    </targets>
    <rules>
      <logger name="*" minLevel="Debug" appendTo="file,console" />
    </rules>
  </nlog>
</configuration>